:root {
    --text-main: hsl(217, 19%, 35%);
    --text-secondary: hsl(214, 17%, 51%);
    --text-tertiary: hsl(212, 23%, 69%); /*not sure where this was used... */
    --background: hsl(210, 46%, 95%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h2,
p,
article, /* do i need these 3? */
aside,
dialog {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */